# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
*.iml

# Build outputs
build/

# Android
android/.gradle/

# iOS
ios/.symlinks/

# macOS
macos/Pods/

# Web
web/

# IDE
.idea/
.vscode/
